<nav>
  <a class="scrollTo features-nav" href="#features">features</a>
  <a href="/install">install</a>
  
  <a href="/architecture">architecture</a>
  <a href="/api">api</a>
        <a href="/contact">contact</a>
  <a href="http://blog.buddycloud.com" target="_blank">blog</a>
  <a class="scrollTo contact-nav" href="#contact">contact us</a>
</nav>


        
        
        